extends layout
block content
  h1 SolveTogether
  p Solving the world's problems through collaboration
  if user !== undefined
    h2 Welcome #{user}!
    //a(href='/myprojects') Your Research Projects
    